<div>
    <h4>Welcome to home page <span style="font-family: sans-serif; font-size: 40px; color: royalblue;">{{user}}</span></h4>
    <a routerLink="storeReq" class="link-warning">Apply For New Aadhar Card</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a routerLink="view" class="link-warning">View My Aadhar Card</a>
    <br/>
    <hr/>
        <router-outlet></router-outlet>
    <hr/>
  
    <br/>
    <input type="button" class="btn btn-info" value="Apply Duplicate Card" (click)="applydup()"/>&nbsp;&nbsp;
    <input type="button" class="btn btn-secondary" value="Close Adhar Card" (click)="closeadhar()"/><br>
    <span style="color:green">{{close}}</span><br>
    <span style="color:green">{{msg}}</span><br><br>
    <input type="button" class="btn btn-dark" value="logout" (click)="logout()"/>
</div>
